html {
    font-size: 100%; 
}
/*Selector Universal
/*
*{
    color:red; 
*/
}

.toggle:checked ~ .checked { 
    background-color: olive; 
}
.checked {
    width: 100px;
    height: 100px;
    background-color: peru; 
}

li:first-child {
    background-color: red;
}
li:last-child {
    background-color:purple;
}
li:nth-child(2) {
    background-color: peru;
}






