html {
    font-family: "ovo", sans-serif;
    font-size: 100%;
}
@media all and (min-width: 400px) {
    html {
        font-size: 80%;
    }
}

body {
    padding:0;
    margin:0;
}

.main-header {
    text-align: center;
    color:black;
    padding: 4em;
}

    .main-header h1 {
        margin: 0;

    }

    .main-header h2 {
        font-size: 1rem;
        font-weight: normal;
    }

    @media screen and(min-width: 400px;) {
        background-color: olive;

    }